.ios, .md{
    page-driver-transactions {
        .list_item{
            padding: 0 !important;
        }
    
        .list_item  item-inner{
            padding: 0 !important;
        }
        .list_item div {
            //background: #dceaf6;
            padding: 0px 3px;
        }
        .list_item h4 {
            font-size: 16px;
            letter-spacing: 0.5px;    
            color: #636369;
            word-spacing: 1px;
        }
        .list_item span {
            font-size: 13px;
            display: table-column;
        }
        .bc_blue div{
            //background: #dceaf6;
        }
        .bc_white div{
            background: #ffffff;
        }
        .c_icon_div {
            padding: 10px 0px !important;
            background: linear-gradient(45deg, #f0f0f0 8%, #eff3f5 47%, #cdd9df 100%);
            height: 47px;
            width: 47px;
            text-align: center;
            border-radius: 50%;
            -webkit-box-shadow: 0 0 1px #a6a8bb;
            box-shadow: 0 0 1px #a6a8bb;
        }
        .span_left{
            float: left;
        }
        .span_right{
            float: right;
        }
        .span_left, .span_right {
            padding-top: 8px;
            color: #a0a2b3;
        }
        .list_item ion-label {
            margin: 8px 8px 8px 0px;
        }
        ion-col.list_content {
            padding-left: 12px;
        }
        
        .t_amount {
            padding: 5px 0 !important;
            //color: #625757;
            letter-spacing: 0.5px;
            
        }
    
        .g_color{
            color: #0ac40a;
        }
    
        .r_color{
            color: #ca1305;
        }
        .emptyDiv {
            text-align: center;
            margin: 50px 0;
            padding: 40px 0;
            font-size: 18px;
            letter-spacing: 0.5px;
            color: #aebcc9;
            img {
              display: block;
              margin: 40px auto;
              padding: 10px;
              box-shadow: 0 0 5px #aebcc9;
          }
        }
    }
}

