.ios,.md
{
    page-package-booking {

        .scroll-content{
            padding-bottom: 0px !important;
        }

        .alg1{
            margin-top: 20px;
            font-size: 1.6rem;
            border-bottom: 0.55px solid lightgray;
            padding-bottom: 10px;
        }
        .alg2{
            margin-top: 10px;
            .item-inner .input-wrapper {
                border-bottom: unset;
            }
        }
        .input-wrapper {
            border-bottom: 1px solid #807272;
        }
        .item-toggle .item-inner .input-wrapper {
            border-bottom: none !important;
        }
        .text-input[disabled] {
            opacity: 1;
        }

        .cust-btn-div{
            button{
                margin: 0;
                border-radius: 0;
            }
        }
    }
}
