.ios,.md{
    page-home {
        /*.home-content{
            //background: url('../../assets/imgs/banner-1.jpg');
        }
        img.book_icon {
            background: #eee;
            padding: 25px;
            border-radius: 50%;
        }*/
         
    .toolbar-title {
        letter-spacing: 0.7px;
    }

    .toolbar-background,.toolbar-background{
       // background: #FFEC19;
    }

    .last_div{
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 10;
    }


    .inner_last_div{
        text-align: center;
        background: #1A237E;  //#FFEC19;// #efb511;
        //background: #FFEC19;
        font-weight: 500;
        //padding: 10px;
        p{
            margin: 0;
            color: #fff;
        }
    }

    .inner_last_div button {
        //background: #ffec19;
        background: #1A237E;
    }
    
    .inner_last_div ion-grid.grid {
        padding: 0;
    }

    ion-spinner {
        position: relative;
        /* display: inline-block; */
        width: 50px;
        height: 50px;
        top: 230px;
        margin: 0 auto;
        display: block;
    }
    
    .loading-content {
        top: 200px !important;
        position: relative !important;
        margin: 0 auto !important;
        display: block !important;
        width: 45% !important;
        color: #fff !important;
    }
    .ride_now{
        border-right : 1px solid #babec3;
    };
    .ride_now,.ride_later{
        padding: 15px;
        letter-spacing: 0.7px;
    }

    ion-card{
        border-radius: 8px !important;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
    }


    ion-item{
        padding-bottom: 15px !important;

        ion-icon{
            font-size: 2.2rem !important;
            color: #278DF8;
        }

        ion-label{
            font-size: 14px !important;
            color: gray;
            letter-spacing: 0.7px;
        }

        ion-input{
            border-bottom: 1px solid lightgray;
        }
    }

    .text-input-ios{
        margin: 0 !important;
        padding: 4px !important;
        font-size: 18px !important;
    }

    .text-input-md{
        margin: 0 !important;
        padding: 4px !important;
        font-size: small !important;
    }

    ion-item:first-child{
        ion-icon{
            transform: rotate(150deg);
            padding: 5px;
        }
    }
    #map{  
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0px;
        top: 0px;   
    }
    #please-connect {
        position: absolute;
        background-color: #000;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        z-index: 1;
        //display: none;
      }
     
      #please-connect p {
          color: #fff;
          font-weight: bold;
          text-align: center;
          position: relative;
          font-size: 1.6em;
          top: 30%;
      }
     
      .scroll-content {
          overflow: hidden;
      }
      .directionsPanel{
        margin: 0!important;
        height: 0;
      }
      .item-md ion-icon[item-start] + .item-inner {
        margin-left: 6px !important;
      }
      div#distance {
        background: #2b8ff8;
        padding: 12px;
        position: absolute;
        left: 38%;
        color: #fff;
        z-index: 10000000 !important;
        font-size: 20px;
        font-weight: 700;
        border-radius: 10px;
      }
      button.type_btn {
        border-radius: 10px;
        background: #eeeeeed6;
        box-shadow: 0px 0px 5px #b8b1b1;
      }
      .type_btn_div p {
        margin: 0;
        padding: 5px;
        font-size: 16px;
        letter-spacing: 0.7px;
        color: #6e6464;
      }
      .type_btn_div {
        background: #fff;
      }
      .appx_cost {
        font-size: 12px;
        background: #fff;
        padding: 3px;
        border-radius: 10px;
        color: #2b8ff8;
        letter-spacing: 0.5px;
      }
      .type_btn img {
        max-width: 80%;
      }
      .ios page-home button.type_btn:active, .md page-home button.type_btn:active {
        background: #000 !important;
      }
      .info_avtar{
          height: 50px;
          width : 50px !important;
      }
      .info_info{
        padding: 0px 8px;
        float: left;
      }
      .info_info h6{
          margin: 0;
      }
      .info_info p{
        margin: 5px 0;  
      }
     .rating_p{
        margin: 5px 0;
        /* margin: 0 !important; */
        font-size: 13px;
        float: left;
     }
     .arrival_p{
        font-size: 13px;
        float: right;
        margin-left: 15px !important;
     }
     .active_payment{
        background: #f0fbfc !important;
        border: 2px solid #ccf3f8;
     }
     .item-md {
        padding-top: 5px;
     }
     
    }
    .isAvailable {
        position: relative;
        margin: 0;
        width: 100%;
        padding: 10px 15px;
        background: #1a237e;
        color: #fff;
        border-radius: unset !important;
        letter-spacing: 0.7px;
        word-spacing: 1px;
        text-align: center;
        font-size: 14px;
        z-index: 9;
        opacity: 0.7;
    }
    
    .topRightEdge {
        top: 0px !important;
        position: absolute;
        z-index: 1;
    }

    .fab-in-list.show {
        background: #1a237e;
        color: #fff;
    }
    .fab[mini] {
        margin: 4px -4px;
    }
    ion-fab-list {
        margin: 66px -10px !important;
    }
}

.ios page-home .text-input-ios {
    margin: 0 !important;
    padding: 4px !important;
    font-size: 18px !important;
    font-size: 16px !important;
}