.ios,.md{
    page-password-reset {
        .list-ios .item-block .item-inner {
            border-bottom: 0.55px solid #e0dfe2;
        }
        .list-ios > .item-block:first-child {
            border-top: none !important;
        }
        .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block,.list-ios > .item-block:last-child .item-inner{
            border-bottom: none !important;
        }
        .first_key img {
            transform: rotate(135deg);
            margin-top: 40px;
            margin-left: 8%;
        }
        .second_key img {
            transform: rotate(102deg);
            margin-left: -13%;
            margin-top: -22px;
        }
        .head_container {
            opacity: 0.3;
            padding: 18px 10px;
        }
        form.updatepass_form {
            padding: 15px;
            padding-left: 0;
        }
        ion-label {
            color: #aba6a6;
            letter-spacing: 0.7px;
            padding: 6px;
        }
        button.login-btn {
            width: 100%;
            padding: 22px 30px !important;
            margin: 15px auto;
            font-size: 20px !important;
            //background-color: #ffec19;
            background: #1A237E;
            color: #fff;
            font-weight: 500;
            box-shadow: 1px 2px #1A237E;
        }
        .error{
            text-align: center;
            color: red;
            font-size: 15px;
            letter-spacing: 0.5px;
        }

        .passwordIcon{
            font-size:2rem !important;
            position: relative !important;
            top: 22px !important;
            margin: 0 auto !important;
        }
    
    }
    
}
