<!-- Side Menu -->
<ion-menu [content]="content">
    <ion-header> 
      <!-- User Profile Info Card -->
      <ion-card class="menu-card" menuClose (click)="openPage(pages.customerProfilePage)">
        <ion-item text-center>
          <ion-avatar>
            <img class="menu_header_avtar" src="{{avatar}}">
          </ion-avatar>
          <h2 class="txt-capt">{{fname}} {{lname}}</h2>
          <p>{{email}}</p>
        </ion-item>
      </ion-card>
      <!-- End User Profile Info Card -->
    </ion-header>
  
     <!-- Customer Menu -->
    <ion-content *ngIf="role==2" class="sideMenu">
      <ion-list class="menu-list" no-lines>
        <!-- Book a Ride -->
        <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.homePage)" (click)="openPage(pages.homePage)">
            <ion-grid>
              <ion-row>
                <ion-col col-3>
                  <img class="list_item_icon" src="assets/imgs/riding-car.png"/>
                </ion-col>
                <ion-col col-9>
                    <div class="list_item_title">Book A Ride</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </button>
        <!-- Book a Delivery -->
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.packageBooking)" (click)="openPage(pages.packageBooking)">
            <ion-grid>
              <ion-row>
                <ion-col col-3>
                  <img class="list_item_icon" src="assets/imgs/delivery-truck.png"/>
                </ion-col>
                <ion-col col-9>
                    <div class="list_item_title">Book A Delivery</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </button>
        <!-- Profile -->
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.customerProfilePage)" (click)="openPage(pages.customerProfilePage)">  
            <ion-grid>
                <ion-row>
                  <ion-col col-3>
                    <img class="list_item_icon" src="assets/imgs/user.png"/>
                  </ion-col>
                  <ion-col col-9>
                      <div class="list_item_title">Profile</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </button>
        <!-- Your Bookings -->
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.bookinghistoryPage)" (click)="openPage(pages.bookinghistoryPage)">  
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                      <img class="list_item_icon" src="assets/imgs/calendar-page-with-circular-clock-symbol.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">My Bookings</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          </button>
        <!-- My Wallet -->
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.paymentwalletPage)" (click)="openPage(pages.paymentwalletPage)">  
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                      <img class="list_item_icon" src="assets/imgs/wallet1.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">My Wallet</div>
                    </ion-col>
                  </ion-row>
                </ion-grid> 
          </button>
        <!-- Settings -->
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.settingsPage)" (click)="openPage(pages.settingsPage)">  
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>   
                      <img class="list_item_icon" src="assets/imgs/settings.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">Settings</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          </button>
        <!-- Help -->
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.helpPage)" (click)="openPage(pages.helpPage)">  
              <ion-grid>
                  <ion-row>      
                    <ion-col col-3>
                      <img class="list_item_icon" src="assets/imgs/chat.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">Help</div>    
                    </ion-col>
                  </ion-row>
                </ion-grid>    
          </button>
        <!-- Log Out -->
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left (click)="signOut()">  
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                      <img class="list_item_icon" src="assets/imgs/menu_logout.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">Sign out</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          </button>
      </ion-list>    
    </ion-content>
    <!-- End Customer Menu -->

    <!--Driver Menu-->
    <ion-content *ngIf="role==3" class="sideMenu">
        <ion-list class="menu-list" no-lines>
        <!-- Dashboard -->
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.homePage)" (click)="openPage(pages.homePage)">
            <ion-grid>
              <ion-row>
                <ion-col col-3>
                  <img class="list_item_icon" src="assets/imgs/dashboard.png"/>
                </ion-col>
                <ion-col col-9>
                    <div class="list_item_title">Dashboard</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </button>
        <!-- Profile -->
            <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.customerProfilePage)" (click)="openPage(pages.customerProfilePage)">  
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                      <img class="list_item_icon" src="assets/imgs/user.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">Profile</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </button>
          <!-- Transactions -->
            <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.driverTransactionsPage)" (click)="openPage(pages.driverTransactionsPage)">  
                <ion-grid>
                    <ion-row>
                      <ion-col col-3>
                        <img class="list_item_icon" src="assets/imgs/transaction.png"/>
                      </ion-col>
                      <ion-col col-9>
                          <div class="list_item_title">Transactions</div>
                      </ion-col>
                    </ion-row>
                  </ion-grid> 
            </button>
          <!-- Settings -->
            <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.driversettingPage)" (click)="openPage(pages.driversettingPage)">  
                <ion-grid>
                    <ion-row>
                      <ion-col col-3>   
                        <img class="list_item_icon" src="assets/imgs/settings.png"/>
                      </ion-col>
                      <ion-col col-9>
                          <div class="list_item_title">Settings</div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
            </button>
          <!-- History -->
            <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.bookingListPage)" (click)="openPage(pages.bookingListPage)">  
              <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                      <img class="list_item_icon" src="assets/imgs/calendar-page-with-circular-clock-symbol.png"/>
                    </ion-col>
                    <ion-col col-9>
                        <div class="list_item_title">History</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          </button>
        <!-- Notifications -->
          <button class="sideMenuItem" menuClose detail-none ion-item icon-left [class.activeItem]="checkActive(pages.notificationsPage)" (click)="openPage(pages.notificationsPage)">  
            <ion-grid>
                <ion-row>
                  <ion-col col-3>
                    <img class="list_item_icon" src="assets/imgs/notification.png"/>
                  </ion-col>
                  <ion-col col-9>
                      <div class="list_item_title">Notifications</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </button>
      <!-- Log Out -->
        <button *ngIf="!data.isStarted" class="sideMenuItem" menuClose detail-none ion-item icon-left (click)="signOut()">  
            <ion-grid>
                <ion-row>
                  <ion-col col-3>
                    <img class="list_item_icon" src="assets/imgs/menu_logout.png"/>
                  </ion-col>
                  <ion-col col-9>
                      <div class="list_item_title">Sign out</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </button>
        </ion-list>       
      </ion-content>
    <!-- End Driver Menu -->
  </ion-menu>
  
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
     