.ios,.md{
    page-upload-profile {
        .cordova-camera-capture video {
            width: 100%;
            margin-top: 57px !important;
            object-fit: fill;
            border: 5px solid #7d7c7c;
            height: 300px;
        }
        .cordova-camera-capture button {
            width: 30%;
            padding: 15px;
            margin: 45px 35%;
            background: #488aff;
            color: #fff;
            letter-spacing: 0.5px;
            font-size: 16px;
        }
           
    }
}

