.ios,.md{
    page-driversetting {
        ion-item {
            padding: 10px !important;
            border-bottom: 1px solid #eee !important;
            box-shadow: 0px 1px #eee;
        }
        .item-inner {
            border: none !important;
        }
        ion-label {
            font-size: 18px;
            letter-spacing: 0.5px;
            color: #615656;
            border: 0;
        }
    }
}

