.ios,.md{
    page-bookinghistory {
        ion-content{
            background-color: #f7f7f7 !important;
        }
    
        ion-card{
            position: relative;
            overflow: visible !important;
            margin: 30px 12px !important;
        }
        .cancelled{
            color: #ef1f1f;
            letter-spacing: 0.5px;
        }
        ion-card .price{
                float: right;
                padding: 10px 15px;
                font-weight: 600;
            }
    
            ion-card .abs_div{
                height: 50px;
                width: 120px;
                background-color: #1a237e;
                margin-left: 20px;
                position: absolute;
                top: -19px;
                z-index: 999;
                border-radius: 10px;
                text-align: center;
                padding: 10px;
                opacity: 0.6;
            }
            ion-card .abs_div span{
                color: white;
            }   
            ion-item ion-icon{
                font-size: 20px;
            }
            ion-item span{
                font-size: 16px;    
                padding-left: 10px;        
                display: table-cell;    
            }
            ion-item .src_pin{
                color:#d40000;
            }
            ion-item .dest_pin{
                color:#065f06;
            }
            ion-item:last-child{
                padding-bottom: 10px;
            }
            .last_div{
                position: absolute;
                bottom: 0;
                width: 100%;
               z-index: 10;
            }
            .inner_last_div{
               text-align: center;
               //background: #1A237E;
               background: #3a4189;
               font-weight: 500;  
               //padding: 7px 0 !important; 
               p{
                  margin: 0;
                    padding: 15px;
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: #fff;
                }
            }
            .inner_last_div ion-grid.grid {
                padding: 0;
            }
            a.tab-item {
                color: #fff;
                text-align: center;
                font-size: 18px;
                letter-spacing: 0.5px;
            }    
            .toptabs a.toptab_item.active {
                background: #7e84bd33 !important;
                color: #1a237e !important;
                border-bottom: 2px solid #1a237e;
            }
            .toptabs a.toptab_item{
                color: #1a237e;//#fff;//#484743;
                text-align: center;
                font-size: 18px;
                letter-spacing: 0.5px;
                display: block;
                padding: 8px;
                border-bottom: 2px solid #f7f7f7;
            }
            .toptabs ion-col.col {
                padding: 0;
            }
            .toptabs ion-row.row {
                padding: 0;
            }
            .toptabs ion-grid.grid {
                padding: 0;
            }
            .toptabs {
                text-align: center;
                border-bottom: 1px solid #d8d7d7;
            }
            .nulldiv {
                text-align: center;
                margin-top: 150px;
                font-size: 21px;
                letter-spacing: 0.5px;
                word-spacing: 1px;
            }
            .emptyDiv {
                text-align: center;
                margin: 50px 0;
                padding: 40px 0;
                font-size: 18px;
                letter-spacing: 0.5px;
                color: #aebcc9;
                img {
                  display: block;
                  margin: 40px auto;
                  padding: 10px;
                  box-shadow: 0 0 5px #aebcc9;
              }
            }
            .r_star{
                color: #ead704;
            }
            .n_start{
                color: #a09d9d;
            }
            .not_rated_item span{
                font-size: 12px;
                color: #1455ec;
                letter-spacing: 0.7px;
                float: right;
                margin-right: 20px;
                margin-top: 2px;	
            }
            .not_rated_item ion-label{
                margin: 0;
                padding: 12px 2px 12px 20px;
                background: #eee;
            }
            .not_rated_item .item-inner{
                padding : 0 !important;
            }
            .not_rated_item{
                padding : 0 !important;
            }
            .container_div ion-label{
                display: table;
            }

            .tabs{
                ion-col{
                    padding: 10px 5px;
                }
    
                .custom-tab{
                    background-color:#1A237E;
                }
            }
        }
}